/* General Styles */

.accordion,
.accordion-item,
.accordion-body,
#previews {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.accordion-body {
  position: relative;
}

.accordion-body video,
.accordion-body img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 100%;
  height: 100%;
  object-fit: contain;
}


/* Navigation Styles */

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
  line-height: 15px;
  font-size: small;
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation li {
    top: 5%;
    margin-top: 0px;
    padding-top: 0px;
  font-family: Continuum Medium;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
  font-size: small;
  list-style: none;
  cursor: pointer;
  text-align: center;
  color: rgb(255, 255, 255);
  opacity: 0.8;
  transition: 0.5s;
}

.navigation ul {
    top: 5%;
    margin-top: 0px;
    padding-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
section .navigation li:hover {
  font-size: medium;
  opacity: 1;
}

section .navigation li {
    padding: 0 10px;
  }
/* Code Styles */

code {
  color: rgb(173, 168, 162); /* Change the color here */
  /* Add additional styles if needed */
}

/* Additional Styles */

@media (max-width: 600px) {
  
  .img-container,
  .video-container {
    height: 10px;
  } 
}
@media (min-width: 100px) {
  
  .img-container,
  .video-container {
    height: 10px;
  } 
}
@media (max-width: 600px) {
  
  .img-container,
  .video-container {
    height: 20px;
  } 
}
@media (min-width: 600px) {
  
  .img-container,
  .video-container {
    height: 20px;
  } 
}
@media (max-width: 800px) {
  
  .img-container,
  .video-container {
    height: 450px;
  } 
}
@media (min-width: 1280px) {
  
  .img-container,
  .video-container {
    height: 525px;
  } 
}
@media (max-width: 1280px) {
  
  .img-container,
  .video-container {
    height: 525px;
  } 
}
@font-face {
  font-family: 'Continuum Medium';
  src: url('../assets/Fonts/contm.ttf') format('truetype');
}

@font-face {
  font-family: 'Continuum Light';
  src: url('../assets/Fonts/contm.ttf') format('truetype');
}

/* Scrollbar Styles */

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: rgb(32, 38, 32);
}

::-webkit-scrollbar-thumb {
  background: rgb(43, 52, 43);
}

::-moz-selection,
::selection {
  color: rgb(173, 168, 162);
  background: rgb(20, 24, 20);
}

/* Shields Styles */

.shields {
  position: absolute;
  right: 50%;
  top: 30%;
  min-width: 100%;
  max-width: 100%;
  left: 50%;
  height: auto;
  transform: translate(-20%, 0);
}

/* Basic Styles */

header.mb-auto video.background-video {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  width: 100%;
  max-width: 1280px;
  height: auto;
  transform: translate(-50%, 0);
  object-fit: cover;
  z-index: -2;
}

body {
  max-width: 1280px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "Continuum Light", Arial, sans-serif;
  color: rgb(173, 168, 162);
  background: none;
}

body::before {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Background Gradient Styles */

.background-gradient-top,
.background-gradient-right,
.background-gradient-left {
  position: absolute;
  width: 100%;
  max-width: 1280px;
  left: 50%;
  transform: translate(-50%, 0);
  height: 720px;
  z-index: -1;
}

.background-gradient-top {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 50%, rgba(20, 24, 20, 1) 95%), rgba(20, 24, 20, 0);
}

.background-gradient-right {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, rgba(20, 24, 20, 1) 95%), rgba(20, 24, 20, 0);
}

.background-gradient-left {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 50%, rgba(20, 24, 20, 1) 95%), rgba(20, 24, 20, 0);
}

/* Hero Styles */

.hero {
  padding-top: 10%;
  padding-bottom: 1%;
}

.hero h1 {
  padding-top: 10%;
  font-family: Continuum Medium, sans-serif;
  text-align: center;
  color: rgb(231, 224, 218);
  font-weight: bold;
  font-size: 35px;
}

.hero p {
  text-align: center;
  color: rgb(203, 197, 194);
  font-weight: bold;
  font-size: 15px;
}

.hero .server-brand {
  color: rgb(201, 69, 47);
}

/* Features Styles */

.features {
  padding-top: 50px;
  font-size: 20px;
}

/* Setup and Rules Styles */

.setup,
.rules {
  margin-top: 5%;
}

.indicator {
  display: none;
  color: green;
  font-weight: bold;
}

.hidden {
  display: none;
}

.setup .setup-heading,
.rules .rules-heading {
  color: rgb(220, 211, 202);
  font-weight: bold;
  font-size: 38px;
  text-align: center;
  margin-bottom: 80px;
}

.setup .accordion-item,
.rules .accordion-item {
  background: rgba(255, 255, 255, 0.05);
  border: 0;
  border-radius: 0 !important;
}

.setup .accordion-header,
.rules .accordion-header {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  background: rgba(255, 255, 255, 0.015);
}

.setup .accordion-header .accordion-button,
.rules .accordion-header .accordion-button {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  background: transparent;
  color: rgb(220, 211, 202);
  outline: none;
  box-shadow: none;
  font-weight: bold;
  font-size: 26px;
  padding: 20px 26px;
}

.setup .accordion-header .accordion-button::after,
.rules .accordion-header .accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23dcd3ca'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.setup .accordion-header .accordion-button:not(.collapsed)::after,
.rules .accordion-header .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23a6cd63'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(-180deg);
}

.setup .accordion-header .accordion-button .icon,
.rules .accordion-header .accordion-button .icon {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  margin-top: -2px;
  color: rgb(166, 205, 99);
}

.setup .accordion-body,
.rules .accordion-body {
  font-size: 20px;
  font-weight: 300;
  padding: 28px;
}
